@import "tailwindcss/preflight";
@import "tailwindcss/theme";
@tailwind utilities;

@theme {
  /* --color-primary: var(--primary); */
  --color-secondary: var(--secondary);
}

:root {
  --primary: #ffffff;
  --secondary: #f7922c;
}
.dark {
  /* --primary: #0e152b; */
  --secondary: #f7922c;
}

h2 {
  font-family: Montserrat;
}

* {
  font-family: inter;
}

.custom-container {
  @apply flex w-full justify-center;
}
.content {
  @apply mx-4 w-full max-w-[1560px];
}

/* .no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */
