@import "tailwindcss/preflight";
@import "tailwindcss/theme";
@tailwind utilities;

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

:root {
  --primary: #ffffff;
  --secondary: #ff9326;
}
.dark {
  --primary: #0a1221;
  --secondary: #ff9326;
}

h2 {
  font-family: Montserrat;
}

* {
  font-family: inter;
}

.custom-container {
  @apply flex w-full justify-center;
}
.content {
  @apply mx-4 w-full max-w-[1560px];
}
