@import "tailwindcss/preflight";
@import "tailwindcss/theme";
@tailwind utilities;

@theme {
  /* These now generate real bg-background, text-foreground, etc. */
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

:root {
  --primary: #0a1221;
  --secondary: #ff9326;
}
.dark {
  --primary: #0a1221;
  --secondary: #ff9326;
}
